*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient( to right, #010022,#000);
}
.page{
    background-image: linear-gradient(to right,#010022e1,#000000da ) ,url(download.webp) ;
    background-position: center;
    width: 85%;
    background-repeat: no-repeat;
    background-size: contain    ;
    margin: 0 auto;
    height: 100vh;
}
.page:hover{
    background-image: linear-gradient(to right,#010022e1,transparent ) ,url(download.webp) ;
}
.header{
    display: flex;
    justify-content: space-between;
}



.logo{
    margin-top: 20px;
}
.logo h1 a{
    color: #fff;
    text-decoration: none;
    font-size: xx-large;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 60px;
}
.nav ul {
    list-style: none;
    margin-right: 35px;
    margin-top: 15px;
    display: flex;
    gap: 70px;
}
.nav ul li a{
    color:azure;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
}
.nav ul li a:hover{
    border-bottom: 2px solid white;
}
.main{
    margin: 140px 0 0 30px;
    color: azure;
}
.main h1{
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 80px;
}
.main p{
    width: 300px;
    letter-spacing: .2rem;
    line-height: 1.6rem;
}
.main button{
    margin-top: 25px;
    padding: 8px 13px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 400;
}
.main button:hover{
    background-color: transparent;
    border: 2px white solid;
    color: #fff;
}